@import url("./stili/root.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Electronic Arts Text";
}

.background-colorFooter {
  max-width: 1120px;
  margin: auto;
}

footer {
    background: var(--clr-hover-nav);
    padding: 10px;
    margin-top: 30rem;
}

.containerFooter {
  display: flex;
}

.distanze_footer {
  display: inline-block;
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 10px;
  margin-left: 48px;
  color: #161616cc;
  font-size: 18px;
}

.distanzaButton {
  display: flex;
  margin-left: auto;
  position: relative;
  padding-left: 100px;
}

.toggle-button {
  height: 60px;
  width: 190px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: left;
  background-color: var(--ea-light-color);
  border-color: #c2c2c2;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  z-index: 1;
}

.colorButton {
  color: #5a5a58;
  font-size: 16px;
}

.allineamentoButtonLingua {
  display: flex;
  align-items: center;
}

.allineamentoButtonLingua > img {
  margin-right: 5px;
}

.italiaButton {
  font-size: 15px;
  color: #161616cc;
}

.arrow {
  margin-left: 90px;
}

#linguaOptions {
  display: none;
  position: absolute;
  bottom: 100%;
  right: -28px;
}

.contenitorColonne {
  display: flex;
  background-color: var(--ea-light-color);
  border-color: #c2c2c2;
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.16);
  max-width: 650px;
}
.colonne {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.spazio > span {
  color: #161616cc;
}

.spazio {
  height: 42px;
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  width: 145px;
  transition: transform 0.3s ease;
}

.spazio:hover {
  transform: translateX(10px);
}

.lineaSpazio {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #b2b2b2;
  opacity: 0.1;
  margin-top: 5px;
}

#spazioQuattro {
  height: 42px;
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  width: 120px;
  transition: transform 0.3s ease;
  color: #5a5a58;
}

.spazioQuattro:hover {
  transform: translateX(10px);
}

.checked {
  display: flex;
  margin-left: auto;
  display: none;
}

.containerButtonTwo {
  display: flex;
  position: relative;
  margin-left: 3rem;
}

.regioneArrow {
  margin-left: 70px;
}

#regioneOption {
  display: none;
  position: absolute;
  bottom: 100%;
  right: -28px;
}

.contenitorColonneRegione {
  display: flex;
  background-color: var(--ea-light-color);
  border-color: #c2c2c2;
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.16);
}

.spazioRegione {
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  width: 160px;
  transition: transform 0.3s ease;
}

.spazioRegione > img {
  margin-right: 3px;
}

.spazioRegione > span {
  color: #5a5a58;
}

.spazioRegione:hover {
  transform: translateX(10px);
}

.checkedRegione {
  display: flex;
  margin-left: auto;
  display: none;
}

.conteinerPrivacy {
  margin-left: 110px;
  margin-top: 30px;
}

.politicaPrivacy {
  display: inline-block;
  text-decoration: none;
  color: #161616cc;
  font-size: 16px;
  margin-right: 32px;
  margin-bottom: 6px;
}

.copyright {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.copyright > span {
  color: #161616cc;
}

.logoPrivacy {
  display: inline-block;
}

.flexButton {
  display: none;
}

@media (max-width: 1024px) {
  .distanzaButton {
    display: none;
  }

  .containerButtonTwo {
    display: none;
  }

  .containerFooter {
    display: flex;
    flex-direction: column;
  }

  .distanze_footer {
    margin-left: 0;
    margin-right: 40px;
  }

  .background-colorFooter {
    padding: 1.5rem;
  }

  .containerButtonFooterMobile {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .flexButton {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
  }

  .buttonMobile {
    height: 70px;
    min-width: 190px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    text-align: left;
    background-color: var(--ea-light-color);
    border-color: #c2c2c2;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
  }

  .arrowMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #scelta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    opacity: 0;
    padding: 0 36px 0 24px;
  }

  .optionFooter {
    font-size: 16px;
  }

  .conteinerPrivacy {
    margin-left: 0;
  }

  .politicaPrivacy {
    font-size: 15px;
  }

  .copyright {
    display: block;
  }

  .logoPrivacy {
    display: block;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .distanze_footer {
    font-size: 15.5px;
  }

  .flexButton {
    flex-direction: column;
    gap: 0rem;
  }

  .containerButtonFooterMobile {
    margin-top: 1.5rem;
  }

  .politicaPrivacy {
    font-size: 15px;
  }

  .copyright > span {
    font-size: 16px;
  }
}
