@import url("./stili/root.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Electronic Arts Text';
    color: var(--clr-primary)
}

nav:hover{
    color: var(--clr-secondary);
}

section{
    padding: 5rem, 1.5rem;
}