.user{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: var(--clr-primary);
    padding-right: 1rem;
    width: 100%;
}

.user li{
    display: inline;
    padding: 0 0.95rem;
}


.avatar{
    background-color: var(--clr-primary);
    border: none;
    cursor: pointer;
}

#avatar{
    fill: var(--clr-signin);
    height: 1.438rem;
    margin-bottom: 0.40rem;
}

#avatar:hover{
    fill: var(--clr-hover-nav);
}

.question{
    background-color: var(--clr-primary);
    border: none;
    cursor: pointer;
}

#question{
    height: 1.194rem;
    fill: var(--clr-signin);
    margin-bottom: 0.65rem;
}

#question:hover{
    fill: var(--clr-hover-nav);
}

.logo{
    background-color: var(--clr-primary);
    border: none;
    cursor: pointer;
}

#logo{
    height: 2.5rem;
    fill: var(--clr-ea-nav);
}

#logo:hover{
    fill: var(--clr-ea-nav-hover);
}

.avatar_section{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
    padding: 11.7rem 0rem;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.logo_nav{
    display: flex;
    justify-content: right;
}

#logo_nav{
    position: absolute;
    fill: white;
    block-size: .9rem; 
    top: 10%;
    right: 2%;
    cursor: pointer;
}

.container_globalnav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
}

.a_container{
    text-align: center;
    text-decoration: none;
    color: var(--clr-show-div-nav);
    width: 10rem;
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    block-size: 36px;
    padding-left: 4rem;
}

.question_section{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary);
    padding: 4.6rem 0rem;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
}

#question_nav{
    position: absolute;
    fill: white;
    block-size: .9rem; 
    top: 10%;
    right: 2%;
    cursor: pointer;
}

.question_header{
    color: white;
    font-size: 18px;
    text-align: center;
}

.question_body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 640px;
    margin: 16px auto;
}

.link_question{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    margin: 16px 30px 16px 16px;
}

.link_question img{
    width: 36px;
}

.question_text{
    color: white;
    text-align: center;
    width: 264px;
    font-size: 17px;
}

.question_footer{
    font-size: 15px;
}

.question_footer a{
    text-decoration: none;
    color: var(--clr-links-hidden-section);
}

.wrapper{
    display: flex;
    align-items: center;
    position: sticky;
    padding: 0.75rem 0.75rem;
    width: 100%;
}

.ellipsis{
    border: none;
    background: none;
    cursor: pointer;
}

#ellipsis{
    transform: rotate(-90deg);
    height: 1.45rem;
    fill: var(--clr-primary);
    transition: fill .7s, transform .3s;
}

#ellipsis:hover{
    fill: var(--clr-secondary); 
    transform: rotate(-90deg) scale(1.3);
  
}

#ea-nav{
    padding-left: 40px;
    padding-right: 60px;
}

.sidebar{
    display: none;
    height: 95.2%;
    width: 24rem;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    background-color: var(--clr-show-div-nav);
    overflow-x: hidden;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sidebar_text{
    display: flex;
    justify-content: space-between;
}

.sidebar_text span{
    color: var(--clr-sidebar);
    font-family: 'Electronic Arts Text Bold';
    font-size: 1.1rem;
    cursor: pointer;
}

.sidebar_text span:hover{
    color: var(--clr-secondary);
}

.logo_sidebar{
    block-size: 1rem;
}

.logo_sidebar:hover{
    fill: var(--clr-secondary);
    cursor: pointer;
}

#ea_sidebar{
    block-size: 19rem;
    margin-top: 2rem;
    position: relative;
}

#ea_logo{
    position: absolute;
    top: 25%;
    left: 40%;
    block-size: 5rem;
}

.games_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2.125rem;
    grid-row-gap: 1.875rem;
    margin-top: 1.25rem;
}

.games_grid img{
    block-size: 8.4rem;
}

.fifa{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
}

.link_fifa{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.fifa_content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.f1{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
}

.link_f1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.f1_content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.madden23{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
}

.link_madden23{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.madden23_content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.apex{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
}

.link_apex{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.apex_content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.battlefield{
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
}

.link_battlefield{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.battlefield_content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.sims{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.link_sims{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
}

.sims_content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#logo_fifa{
    block-size: 2rem;
}

#logo_f1{
    block-size: 2rem;
}

#logo_md{
    block-size: 2rem;
}

#logo_apex{
    block-size: 2rem;
}

#logo_battlefield{
    block-size: 1.5rem;
}

#logo_sims{
    block-size: 2rem;
}

.list{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: var(--font-size-desktop);
    padding: 0 1.2rem;
}

.list:hover{
    color: var(--clr-secondary);
}

.list span{
    padding: 0.65rem;
}

.list span:hover{
    color: var(--clr-secondary);
}

.list a{
    text-decoration: none;
    color: var(--clr-primary);
}

.list a:hover{
    color: var(--clr-secondary);
}

#arrow-down{
    padding-left: .45rem;
}

.list:hover #arrow-down{
    fill: var(--clr-secondary);
    transform: rotate(180deg);
}

.dropdown-content{
    display: none;
    position: absolute;
    border: 1px solid black;
    z-index: 1;
    padding: 3rem 4rem 4rem 2rem;
    background-color: var(--clr-hover-nav);
    gap: 100px;
}

.esplora-giochi h4{
    color: var(--clr-primary);
    border-bottom: solid 1px #cccccc;
    padding: 0 50px 5px 0;
    margin: 0;
    font-size: 15px;
}

.piattaforme h4{
    color: var(--clr-primary);
    border-bottom: solid 1px #cccccc;
    padding: 0 20px 5px 0;
    margin: 0;
    font-size: 15px;
}

.dropdown-content ul{
    list-style: none;
}

.dropdown-content li{
    padding-top: 10px;
    font-size: 15px;
}

.list:hover .dropdown-content{
    display: flex;
    border-radius: 7px;

}

#esperienze{
    display: none;
    position: absolute;
    border: 1px solid black;
    z-index: 1;
    padding: 1rem 11rem 1rem 2rem;
    background-color: var(--clr-hover-nav);
}

#esperienze ul{
    list-style: none;
}

#esperienze li{
    padding-top: 0.75rem;
    font-size: 15px;
}

.list:hover #esperienze{
    display: block;
    border-radius: 7px;
}

#informazioni{
    display: none;
    position: absolute;
    border: 1px solid black;
    z-index: 1;
    padding: 1rem 8rem 2rem 2rem;
    background-color: var(--clr-hover-nav);
}

#informazioni ul{
    list-style: none;
}

#informazioni li{
    padding-top: 10px;
    font-size: 15px;
}

.list:hover #informazioni{
    display: flex;
    border-radius: 7px;
}

#impegni{
    display: none;
    position: absolute;
    border: 1px solid black;
    z-index: 1;
    padding: 1rem;
    background-color: var(--clr-hover-nav);
}

#impegni ul{
    list-style: none;
}

#impegni li{
    padding: 10px 0 0 0;
    font-size: 15px;
}

.list:hover #impegni{
    display: block;
    border-radius: 7px;
}

#risorse{
    display: none;
    position: absolute;
    border: 1px solid black;
    z-index: 1;
    padding: 1rem;
    background-color: var(--clr-hover-nav);
}

#risorse ul{
    list-style: none;
}

#risorse li{
    padding: 10px 70px 0 0;
    font-size: 15px;
}

.list:hover #risorse{
    display: block;
    border-radius: 7px;
}
